.mprl-form{
	float: left;
	min-width: 800px;
}
.mprl-premium{
	float: left;
	max-width: 250px;
}
.mprl-premium-1{
	margin-top: 20px;
}
.mprl-premium-2{
	max-width: 250px;
	margin-top: 10px;
}
.mprl-none{
	display: none;
}
.mprl-site-back{
	background:#408CEA;
	color:#FFFFFF;
	font-weight:bold;
	min-height:21px;
	padding:3px 5px;
	width:338px;
}
.spefic-desc{
	max-width: 560px;
}
.mprl-specific-page{
	display: inline;
}